################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

x64
Win32
x86
Release
Debug
/.vs
